<header>
  <nav>
    <div>
      <div class="nav__logo">
        <a class="logo"
          ><img
            src="../../../../../assets/img/logo-p1.png"
            alt="true concept logo"
          />
          <img
            src="../../../../../assets/img/logo-p2.png"
            alt="true concept logo"
          />
        </a>
      </div>
      <ul class="nav__items">
        <li class="nav__items-item"><a href="">services</a></li>
        <li class="nav__items-item"><a href="">about us</a></li>
        <li class="nav__items-item highlight"><a href="">contact</a></li>
      </ul>
    </div>
  </nav>

  <section>
    <div class="heading">
      <h1 class="heading__primary">
        <div class="regular">We</div>
        <div class="bold">Enlight</div>
        <div class="black">Corporates'</div>
        <div class="heavy">Future</div>
      </h1>
    </div>
    <div class="cta">
      <div>
        <h3 class="cta__heading sub__heading">Strategy Mentoring Workshops</h3>
        <p class="cta__desc">
          In these workshops we mentor you & your team in building your strategy
          journey.We not only facilitate to you all the needed tools and help
          you in a step-by-step manner to get instant results from it, but we
          also blend needed skills (like team work, time management, decision
          making & project management that we believe essential for any strategy
          to succeed
        </p>
        <button class="cta__btn">
          <img src="../../../../../assets/img/icon.png" alt="icon" />
          <span>Build Your Strategy Today</span>
        </button>
      </div>
    </div>
  </section>
</header>
